name: Automated Test CICD

on:
    push:
        branches:
            - dev

jobs:
    cypress-run:
        runs-on: ubuntu-24.04

        container:
            image: cypress/browsers:22.15.0
            options: --user 1001

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm install

            - name: Cypress run
              uses: cypress-io/github-action@v6
              with:
                  build: npm run build
                  start: npm start
                  wait-on: http://localhost:3000
                  browser: chrome
